* {
    font-family: Arial, Helvetica, sans-serif;
}

.titulo {
    text-align: center;
    margin-top: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.link {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}

.listarMultipla {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    width: 100%;
    
}

.listarTexto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    width: 100%;
}